.App {
  display: flex;
  justify-content: center;
  margin: 30px auto 30px;
  font-size: 14px;
}

.MapBlock {
  position: relative;
  overflow: hidden;
  border: 1px solid #2779BD;
  width: 400px;
  height: 300px;
}

.RoutesBlock {
  margin-right: 30px;
}